/* -----GRID CSS SIN ESTILOS DE DISEÑO -----*/
/*----- CREADOR: Michael Vairo -----*/

/*------------------------------ RESET ------------------------------*/
*{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-style: normal;
    font-family: arial;
    list-style: none;
    text-decoration: none;
}
/*------------------------------ RESET ------------------------------*/
/*------------------------------ MODO DESARROLLO ------------------------------*/
body.desarrollo .grupo-full::before {
    content: "[ --- Grupo 100% --- ]";
    display: block;
    background-color: #e8aaa5fc;
    text-align: center;
    color: #bd0d00;
    border: 1px solid #bd0d00;
    margin-top: 2px;
    padding: 1px;
}

body.desarrollo .grupo::before {
    content: "[ --- Grupo --- ]";
    display: block;
    background-color: #e8aaa5fc;
    text-align: center;
    color: #bd0d00;
    border: 1px solid #bd0d00;
    margin-top: 2px;
    padding: 1px;
}

body.desarrollo .caja::before {
    content: "[ --- Caja --- ]";
    display: block;
    background-color: #a5c1e8fc;
    text-align: center;
    color: #0053bd;
    border: 1px solid #0053bd;
    margin-top: 2px;
    padding: 1px;
}

body.desarrollo .item::before {
    content: "[ --- Item --- ]";
    display: block;
    background-color: #a5e8cbfc;
    text-align: center;
    color: #00bd19;
    border: 1px solid #00bd19;
    margin-top: 2px;
    padding: 1px;
}

body.desarrollo .grupo-full{
    border-left: 1px solid #bd0d00;
    border-right: 1px solid #bd0d00;
    border-bottom: 1px solid #bd0d00;
    background-color: #efd3d0fc;
}

body.desarrollo .grupo{
    border-left: 1px solid #bd0d00;
    border-right: 1px solid #bd0d00;
    border-bottom: 1px solid #bd0d00;
    background-color: #efd3d0fc;
}

body.desarrollo .caja{
    border-left: 1px solid #0053bd;
    border-right: 1px solid #0053bd;
    border-bottom: 1px solid #0053bd;
    margin: 6px;
    background-color: #bfcee2fc;
}

body.desarrollo .item{
    border-left: 1px solid #00bd19;
    border-right: 1px solid #00bd19;
    border-bottom: 1px solid #00bd19;
    margin: 6px;
    background-color: #c9e4d9fc;  
}

/*------------------------------ MODO DESARROLLO ------------------------------*/


/*------------------------------ PORCENTAJES ------------------------------*/
.grupo-full{
    float: left;
    width: 100%;
}

.grupo{
    float: left;
    max-width: 992px;
}

.caja{
    float: left;
}

.item{
    float: left;
}

@media screen and (min-width: 480px) {
    .s-1{
        width: 8.333333333333333%;
    }
    .s-2{
        width: 16.66666666666667%;
    }
    .s-3{
        width: 25%;
    }
    .s-4{
        width: 33.33333333333333%;
    }
    .s-5{
        width: 41.66666666666667%;
    }
    .s-6{
        width: 50%;
    }
    .s-7{
        width: 58.33333333333333%;
    }
    .s-8{
        width: 66.66666666666667%;
    }
    .s-9{
        width: 75%;
    }
    .s-10{
        width: 83.33333333333333%;
    }
    .s-11{
        width: 91.66666666666667%;
    }
    .s-12{
        width: 100%;
    }
}

@media screen and (min-width: 480px) {
    .s-1{
        width: 8.333333333333333%;
    }
    .s-2{
        width: 16.66666666666667%;
    }
    .s-3{
        width: 25%;
    }
    .s-4{
        width: 33.33333333333333%;
    }
    .s-5{
        width: 41.66666666666667%;
    }
    .s-6{
        width: 50%;
    }
    .s-7{
        width: 58.33333333333333%;
    }
    .s-8{
        width: 66.66666666666667%;
    }
    .s-9{
        width: 75%;
    }
    .s-10{
        width: 83.33333333333333%;
    }
    .s-11{
        width: 91.66666666666667%;
    }
    .s-12{
        width: 100%;
    }
}
/*
480 s
640 m
768 l
992 xl
1200 sxl
1440 uxl*/
/*------------------------------ PORCENTAJES ------------------------------*/